{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
		ul { display: flex; }
	</style>
{% endblock %}


{% block title %}
Select a Sock
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-lg-10 mx-lg-auto">

      <h1 class="pt-5 pb-2">Select an appointment</h1>

      <p class="lead alert alert-success">Select one appointment to edit or delete.</p>

	  
	  <p class="ml-4"><a href="{{ url_for('index') }}">Return to the index.</a></p>

	  <!-- start form - not using WTForms here -->
	  <form method="POST" id="form2" action="{{ url_for('edit_or_delete') }}">

		<table class="table">
			<tr>
				<th></th>
				<th>User Name</th>
				<th>Phone number</th>
				<th>Time</th>
				<th>Time Length</th>
			</tr>

			<!-- here is a for-loop to give us all the apt -->
			{% for apt in appointment %}
			<tr>
				<td class="center-align"><input type="radio" name="id" value="{{ appointment.id }}" required></td>
				<td>{{ apt.name }}</td>
				<td>{{ apt.phonenumber }}</td>
				<td>{{ apt.time }}</td>
				<td>${{ apt.timelength }}</td>
			</tr>
			{% endfor %}
		</table>

		<div class="form-group lead alert alert-success pb-4">
          <p>What do you want to do with the selected record?</p>

          <div class="form-check form-check-inline">
          <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="delete" required> Delete it</label>
          </div>
          <div class="form-check form-check-inline">
          <label class="form-check-label"><input class="form-check-input" type="radio" name="choice" value="edit" required> Edit it</label>
          </div>
        </div><!-- end form-group -->

		<div class="form-group">
	        <input class="btn btn-success" type="submit" value="Submit Choice">
        </div>

		</form>
		</div>
	</div>
</div>

{% endblock %}